# Ambiente
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# Node
node_modules/
npm-debug.log
dist/
build/

# Logs
*.log
logs/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Banco de dados
*.sqlite
